{% extends "base.html" %}

{% block title %}
Sign-Up
{% endblock %}

{% block heading %}
Sign Up
{% endblock %}

{% block content %}

{% if message %}
    {{ message }}
{% endif %}

{% if form %}
<form action="{{url_for('signup')}}" method="POST" style="padding:5px;">
<!-- Full Name Field -->
    {{ form.name.label }}: <br>
    {{ form.name }}
    <br>
    {% if form.name.errors %}
    {% for error in form.name.errors %}
    <b style="color:tomato;"> {{ error }} </b>
    <br>
    {% endfor %}
    {% endif %}

    <!-- Email Field -->
    {{ form.email.label }}: <br>
    {{ form.email }}
    <br>
    <!-- Password Field -->
    {{ form.password.label }}: <br>
    {{ form.password }}
    <br>
    {% if form.email.errors %}
    {% for error in form.email.errors %}
    <b style="color:tomato;"> {{ error }} </b>
    <br>
    {% endfor %}
    {% endif %}
    {% if form.password.errors %}
    {% for error in form.password.errors %}
    <b style="color:tomato;"> {{ error }} </b>
    <br>
    {% endfor %}
    {% endif %}

    <!-- Confirm Password Field -->
    {{ form.confirm_password.label }}: <br>
    {{ form.confirm_password }}
    <br>
    {% if form.confirm_password.errors %}
    {% for error in form.confirm_password.errors %}
    <b style="color:tomato;"> {{ error }} </b>
    <br>
    {% endfor %}
    {% endif %}

     <!-- Hidden CSRF Token Field -->
    {{ form.csrf_token }}
    <br>
     <!-- Submit Field -->
    {{ form.submit }}
</form>
{% endif %}

{% endblock %}